label{color: blueviolet;}
body{background-color: rgb(212, 171, 216);}
.contact-page{background-image:url('images/7.png')}
#lk{color: rgb(109, 19, 193);}
*{font-size: 30px;}
.nav{color: rgb(105, 39, 219); border-radius: 30%;}
#kt{font-family:'Comic Sans MS';}